.aboutMe{
    display: flex;
    background-color: #E7E8EE ;
    padding-top: 50px;
    padding-bottom: 50px;
    .wrapper{
        display: flex;
    }
    .aboutMeIcon{
        img{
            max-width: 100%;
        }
    }
    .aboutMeText{
        max-width: 60%;
    }
}

