@media (max-width: 950px){
    .listOne ul,
    .listTwo ul,
    .listThree ul {
        font-size: 15px;
    };
    .projectOne,
    .projectTwo{
        width: 100%;
    }
};

@media (max-width: 800px) {
    .projectTwoText,
    .projectOneText,
    .projectThreeText {
        width: 85%;
    };
    
    .projects{
        padding-top: 0;
        padding-bottom: 25px;
    };
    .navBar {
        position: static;
    };
    .headerContainer {
        flex-direction: column;
    };
    .projectOne,
    .projectTwo,
    .projectThree{
        width: 100%;
    }
    .skillsContainer {
        max-width: 100%;
    }
    .wrapper{
        width: 90%;
        margin: 0 auto;
    }
};

@media (max-width: 685px){
    .skillsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        li{
            font-size: 2em;
        }
    };
    .aboutMe .wrapper{
        flex-direction: column;
        align-items: center;
    };
    
    .projects .wrapper{

    }
    
    .projectOne,
    .projectTwo,
    .projectThree{
        display: block;
        width:120%;
    };

    .contactContainer {
        flex-direction: column;
    };
    .contactText{
        width: 100%;
    }
    .form{
        padding-top: 30px;
    }
    .aboutMe .aboutMeText{
        max-width: 90%;
    }
};

@media (max-width:450px){
    .formName,
    .formEmail,
    .formMessage{   
        padding-right: 20%;
    };
    .navBar {
        flex-direction: column;
    };
    .navBar a{
        padding-left: 5px;
    };
    .skillsText{
        width: 40%;
    }
    .projectOne,
    .projectTwo,
    .projectThree{
        width: 125%;
    }
    .aboutMe .aboutMeText{
        max-width: 90%;
    }
};

@media (max-width:370px){
    .navTitle p{
        margin: 0;
    }
    
    
    .navLinks{
        display: flex;
        flex-direction: column;
        a{
            font-size: 1.25em;
            padding-bottom: 10px;
        }
    }
}