.skills{
    background-color: #3D48AE;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    h2{
        font-family: "Nunito", sans-serif;
        height: 30px;
    };
    p{
        font-family: "PT Sans", sans-serif;
    };
    li{
        font-family: "PT Sans", sans-serif;
    };
};

.skillsText {
    width: 20%;
};

.skillsContainer {
    display: flex;
    justify-content: space-evenly;
};

.listOne ul,
.listTwo ul, 
.listThree ul{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly ;
    list-style: none;  
    li::before {
        content: "• ";
        color:#FBAF01 ;
    };
};

