html {
    font-size: 125%;
};

h2 {
    font-size: 60px;
    font-family: "Nunito", sans-serif;
};

p {
    font-family: "PT Sans", sans-serif;
    line-height: 1.5;
};

h1{
    font-family: "Nunito",sans-serif;
    font-weight: 500;
    font-size: 75px;
};

h4{
    font-family: "PT Sans", sans-serif;
    font-weight: 500;
}